$menuFontColor: #5c5957;
$btnPrimary:#22adbc;
$colorWhite:#ffffff;
$colorHighlight:#ffce00;
$colorHighlightSecond:#1c1e3c;
$placeHolderColor: #6c838e;
$secColorPrimary: #f7fbfd;
$borderColor: #b2cbd6;
$titleColor:#656782;
$primaryText: #005b99;
$footerBg: #3a3633;
$footerMenuColor: #d7d6d6;