
.top-menu-wrapper{
    // background: transparent;
    padding-top: 2.5em;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    .navbar-brand{
        margin-right: 3em;
    }
    .nav-link{
        color: $menuFontColor;
    }
    .navbar-collapse{
            background: $colorWhite;
            padding: 15px;
    }
    @media screen and (min-width: 1200px){
        .nav-link{
            padding-right: 2.1rem !important;
            padding-left: 2.1rem !important;
        }
        .navbar-collapse{
            background: transparent;
            padding: 0;
    }
    }
    .top-menu-btn-wrapper{
        .btn{
            border-radius: 0;
            background: $btnPrimary;
            color: $colorWhite;
            border-color: $btnPrimary;
            &:hover{
                border-color: $btnPrimary;
                background: transparent;
                color:  $btnPrimary;
            }
            &:focus{
                box-shadow: 0 0 0 0.2rem rgba(34, 173, 188, .25) !important;
            }
            &.btn-outline-primary{
                border-color: $btnPrimary;
                background: transparent;
                color:  $btnPrimary;
                &:hover{
                    background: $btnPrimary;
                    color: $colorWhite;
                }
            }
            
        }
        .mr-3{
            margin-right: 0em !important;
        }
        @media screen and (min-width: 1200px){
            .mr-3{
                margin-right: 1em !important;
            }
        }
    }
}
.footer-wrapper{
    background: $footerBg;
    padding: 70px 0;
    .menu-wrapper{
        .nav{
            display: block;
            a{
                color: $footerMenuColor;
                padding: 15px 0;
            }
        }
    }
    .social-menu{
        float: left;
        a{
            color: $footerMenuColor;
        }
    }
}
@media screen and (min-width: 1020px){
    .footer-wrapper{
        .menu-wrapper{
            .nav{
                display: flex;
                a{
                    padding: 0px 35px;
                }
            }
        }
        .social-menu{
            float: right;
            a{
                color: $footerMenuColor;
            }
        }
    }
}